svg {
	background-color: grey;
}

#color-selector {
	position: relative;
}
.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;
}
.state:hover{
	fill-opacity:0.5;
}
#stateName {
	position: relative;
	font-size: 20px;
	font: 20px sans-serif;
	margin: 2px;
	color: black;
}
#tooltip {   
	position: absolute;           
	text-align: left;
	padding: 20px;             
	margin: 10px;
	font: 12px sans-serif;        
	background: lightsteelblue;   
	border: 1px;      
	border-radius: 2px;           
	pointer-events: none;         
}
#tooltip h4{
	margin:0;
	font-size:14px;
	text-align: center;
}
#tooltip{
	background:rgba(0,0,0,0.9);
	border:1px solid grey;
	border-radius:5px;
	font-size:12px;
	width:auto;
	padding:4px;
	color:white;
	opacity:0;
}
#tooltip table{
	table-layout:fixed;
}
#tooltip tr td{
	padding:0;
	margin:0;
}
#tooltip tr td:nth-child(1){
	width:50px;
}
#tooltip tr td:nth-child(2){
	text-align:left;
}
#floatingBarsG{
	position: absolute;
	margin-left: 45%;
	margin-right: 50%;
	margin-top: 278px;
	margin-bottom: 49%;
	width:62px;
	height:77px
}

.blockG{
	position:absolute;
	background-color:#000000;
	width:10px;
	height:24px;
	-moz-border-radius:8px 8px 0 0;
	-moz-transform:scale(0.4);
	-moz-animation-name:fadeG;
	-moz-animation-duration:1.1199999999999999s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:normal;
	-webkit-border-radius:8px 8px 0 0;
	-webkit-transform:scale(0.4);
	-webkit-animation-name:fadeG;
	-webkit-animation-duration:1.1199999999999999s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;
	-ms-border-radius:8px 8px 0 0;
	-ms-transform:scale(0.4);
	-ms-animation-name:fadeG;
	-ms-animation-duration:1.1199999999999999s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:normal;
	-o-border-radius:8px 8px 0 0;
	-o-transform:scale(0.4);
	-o-animation-name:fadeG;
	-o-animation-duration:1.1199999999999999s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:normal;
	border-radius:8px 8px 0 0;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1.1199999999999999s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:28px;
	-moz-animation-delay:0.41999999999999993s;
	-moz-transform:rotate(-90deg);
	-webkit-animation-delay:0.41999999999999993s;
	-webkit-transform:rotate(-90deg);
	-ms-animation-delay:0.41999999999999993s;
	-ms-transform:rotate(-90deg);
	-o-animation-delay:0.41999999999999993s;
	-o-transform:rotate(-90deg);
	animation-delay:0.41999999999999993s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	-moz-animation-delay:0.5599999999999999s;
	-moz-transform:rotate(-45deg);
	-webkit-animation-delay:0.5599999999999999s;
	-webkit-transform:rotate(-45deg);
	-ms-animation-delay:0.5599999999999999s;
	-ms-transform:rotate(-45deg);
	-o-animation-delay:0.5599999999999999s;
	-o-transform:rotate(-45deg);
	animation-delay:0.5599999999999999s;
	transform:rotate(-45deg);
}

#rotateG_03{
	left:26px;
	top:3px;
	-moz-animation-delay:0.7s;
	-moz-transform:rotate(0deg);
	-webkit-animation-delay:0.7s;
	-webkit-transform:rotate(0deg);
	-ms-animation-delay:0.7s;
	-ms-transform:rotate(0deg);
	-o-animation-delay:0.7s;
	-o-transform:rotate(0deg);
	animation-delay:0.7s;
	transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	-moz-animation-delay:0.8399999999999999s;
	-moz-transform:rotate(45deg);
	-webkit-animation-delay:0.8399999999999999s;
	-webkit-transform:rotate(45deg);
	-ms-animation-delay:0.8399999999999999s;
	-ms-transform:rotate(45deg);
	-o-animation-delay:0.8399999999999999s;
	-o-transform:rotate(45deg);
	animation-delay:0.8399999999999999s;
	transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:28px;
	-moz-animation-delay:0.9799999999999999s;
	-moz-transform:rotate(90deg);
	-webkit-animation-delay:0.9799999999999999s;
	-webkit-transform:rotate(90deg);
	-ms-animation-delay:0.9799999999999999s;
	-ms-transform:rotate(90deg);
	-o-animation-delay:0.9799999999999999s;
	-o-transform:rotate(90deg);
	animation-delay:0.9799999999999999s;
	transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	-moz-animation-delay:1.1199999999999999s;
	-moz-transform:rotate(135deg);
	-webkit-animation-delay:1.1199999999999999s;
	-webkit-transform:rotate(135deg);
	-ms-animation-delay:1.1199999999999999s;
	-ms-transform:rotate(135deg);
	-o-animation-delay:1.1199999999999999s;
	-o-transform:rotate(135deg);
	animation-delay:1.1199999999999999s;
	transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:26px;
	-moz-animation-delay:1.26s;
	-moz-transform:rotate(180deg);
	-webkit-animation-delay:1.26s;
	-webkit-transform:rotate(180deg);
	-ms-animation-delay:1.26s;
	-ms-transform:rotate(180deg);
	-o-animation-delay:1.26s;
	-o-transform:rotate(180deg);
	animation-delay:1.26s;
	transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	-moz-animation-delay:1.4s;
	-moz-transform:rotate(-135deg);
	-webkit-animation-delay:1.4s;
	-webkit-transform:rotate(-135deg);
	-ms-animation-delay:1.4s;
	-ms-transform:rotate(-135deg);
	-o-animation-delay:1.4s;
	-o-transform:rotate(-135deg);
	animation-delay:1.4s;
	transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}